<!DOCTYPE html>
<html>
<head>
	<title>Mokhtari| Mot de Passe</title>
	 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	 {% block stylesheets %}
            {{encore_entry_link_tags('password') }}
     {% endblock %}
</head>
<body>
<div id="newpassword-header"></div>
  <div class="container p-4 bg-light mt-4">
    <h3 class="bg-light text-center"> Réinitialisation de mot de passe </h3>
     {{ form_start(NewPasswordForm) }}
  <div class="form-group">
     {{ form_row(NewPasswordForm.password, {"attr":{"placeholder":"tapez votre nouveau mot de passe", 'class':"form-control"}, "label":"Nouveau mot de passe"}) }}
  </div>
    <div class="form-group">
    {{ form_row(NewPasswordForm.passwordConfirm, {"attr":{"placeholder":"confirmer votre nouveau mot de passe", 'class':"form-control"}, 
    "label": " Confirmer de mot de passe"}) }}
  </div>
    <div class="form-group">
    
 <button type="submit" class="btn btn-success">
  Envoyer les modification !
 </button>
  </div>
  
 {{ form_end(NewPasswordForm) }}
  </div>
 

<div id="newpassword-footer">
	
</div>
    
        {% block javascripts %}
            {{ encore_entry_script_tags('password') }}
        {% endblock %}
</body>
</html>

 
 
